body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 30px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #2d6a4f;
    color: white;
}

th, td {
    padding: 14px 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color:rgb(255, 249, 186);
}

tr:hover {
    background-color:rgb(247, 253, 159);
    cursor: pointer;
}